.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #FFFFFF;
}

.header_container {
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
}

.header_menu {
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
}


.header_logo {
    height: 41px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header_actions {
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_actions div:not(:last-child) {
    margin: 0 22px 0 0;
}




